{{> header}}

<p>
    <h1>{{title}}</h1>
    First Name: {{pageFirstName}} <br>
    Last Name: {{pageLastName}} <br>
    Email: {{pageEmail}} <br>
    Product: {{pageProduct}} <br>
    Payment Method: {{pagePaymentType}} <br> 
</p>
